:host {
  display: block;

  button {
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 5px 5px 0px #000000;
    padding: 10px 15px;
    color: black;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    font-family: 'Archivo';
    font-weight: bold;

    &:hover {
      transform: translateX(5px) translateY(5px);
      box-shadow: none;
    }
    &:focus {
      outline:green;
    }
  }
}
